<!DOCTYPE html>
<html>
  <head>
    <title>SchoolTools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="logo">
      <%= image_tag "student-logo.png" %>
      <div id="text">
        School<span id="text-secondary">Tools</span>
      </div>
    </div>
    <div id="breadcrumbs">
    <% if @breadcrumbs.length > 0 %>
      <% @breadcrumbs.each do |breadcrumb| %>
        <% if breadcrumb.link.present? %>
          <%= link_to breadcrumb.name, breadcrumb.link, class: 'breadcrumb-link' %>
        <% else %>
          <span class="breadcrumb-name">
            <%= breadcrumb.name %>
          </span>
        <% end %>

        <% unless breadcrumb == @breadcrumbs.last %>
          /
        <% end %>
      <% end %>
    <% end %>
    </div>
    <% flash.each do |type, message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
